/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$cook-name: 'cook';
$cook-x: 207px;
$cook-y: 283px;
$cook-offset-x: -207px;
$cook-offset-y: -283px;
$cook-width: 190px;
$cook-height: 94px;
$cook-total-width: 814px;
$cook-total-height: 640px;
$cook-image: '../images/sprite.png';
$cook: (207px, 283px, -207px, -283px, 190px, 94px, 814px, 640px, '../images/sprite.png', 'cook', );
$family-name: 'family';
$family-x: 0px;
$family-y: 430px;
$family-offset-x: 0px;
$family-offset-y: -430px;
$family-width: 135px;
$family-height: 95px;
$family-total-width: 814px;
$family-total-height: 640px;
$family-image: '../images/sprite.png';
$family: (0px, 430px, 0px, -430px, 135px, 95px, 814px, 640px, '../images/sprite.png', 'family', );
$icon-glove-name: 'icon-glove';
$icon-glove-x: 441px;
$icon-glove-y: 283px;
$icon-glove-offset-x: -441px;
$icon-glove-offset-y: -283px;
$icon-glove-width: 32px;
$icon-glove-height: 40px;
$icon-glove-total-width: 814px;
$icon-glove-total-height: 640px;
$icon-glove-image: '../images/sprite.png';
$icon-glove: (441px, 283px, -441px, -283px, 32px, 40px, 814px, 640px, '../images/sprite.png', 'icon-glove', );
$icon-hat-name: 'icon-hat';
$icon-hat-x: 700px;
$icon-hat-y: 229px;
$icon-hat-offset-x: -700px;
$icon-hat-offset-y: -229px;
$icon-hat-width: 46px;
$icon-hat-height: 38px;
$icon-hat-total-width: 814px;
$icon-hat-total-height: 640px;
$icon-hat-image: '../images/sprite.png';
$icon-hat: (700px, 229px, -700px, -229px, 46px, 38px, 814px, 640px, '../images/sprite.png', 'icon-hat', );
$logotype-name: 'logotype';
$logotype-x: 450px;
$logotype-y: 229px;
$logotype-offset-x: -450px;
$logotype-offset-y: -229px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 814px;
$logotype-total-height: 640px;
$logotype-image: '../images/sprite.png';
$logotype: (450px, 229px, -450px, -229px, 148px, 52px, 814px, 640px, '../images/sprite.png', 'logotype', );
$natural-name: 'natural';
$natural-x: 0px;
$natural-y: 283px;
$natural-offset-x: 0px;
$natural-offset-y: -283px;
$natural-width: 207px;
$natural-height: 147px;
$natural-total-width: 814px;
$natural-total-height: 640px;
$natural-image: '../images/sprite.png';
$natural: (0px, 283px, 0px, -283px, 207px, 147px, 814px, 640px, '../images/sprite.png', 'natural', );
$sticker-1-name: 'sticker-1';
$sticker-1-x: 450px;
$sticker-1-y: 0px;
$sticker-1-offset-x: -450px;
$sticker-1-offset-y: 0px;
$sticker-1-width: 364px;
$sticker-1-height: 229px;
$sticker-1-total-width: 814px;
$sticker-1-total-height: 640px;
$sticker-1-image: '../images/sprite.png';
$sticker-1: (450px, 0px, -450px, 0px, 364px, 229px, 814px, 640px, '../images/sprite.png', 'sticker-1', );
$sticker-2-name: 'sticker-2';
$sticker-2-x: 0px;
$sticker-2-y: 0px;
$sticker-2-offset-x: 0px;
$sticker-2-offset-y: 0px;
$sticker-2-width: 450px;
$sticker-2-height: 283px;
$sticker-2-total-width: 814px;
$sticker-2-total-height: 640px;
$sticker-2-image: '../images/sprite.png';
$sticker-2: (0px, 0px, 0px, 0px, 450px, 283px, 814px, 640px, '../images/sprite.png', 'sticker-2', );
$upload-frame-name: 'upload-frame';
$upload-frame-x: 0px;
$upload-frame-y: 525px;
$upload-frame-offset-x: 0px;
$upload-frame-offset-y: -525px;
$upload-frame-width: 109px;
$upload-frame-height: 115px;
$upload-frame-total-width: 814px;
$upload-frame-total-height: 640px;
$upload-frame-image: '../images/sprite.png';
$upload-frame: (0px, 525px, 0px, -525px, 109px, 115px, 814px, 640px, '../images/sprite.png', 'upload-frame', );
$yellow-house-name: 'yellow-house';
$yellow-house-x: 598px;
$yellow-house-y: 229px;
$yellow-house-offset-x: -598px;
$yellow-house-offset-y: -229px;
$yellow-house-width: 51px;
$yellow-house-height: 51px;
$yellow-house-total-width: 814px;
$yellow-house-total-height: 640px;
$yellow-house-image: '../images/sprite.png';
$yellow-house: (598px, 229px, -598px, -229px, 51px, 51px, 814px, 640px, '../images/sprite.png', 'yellow-house', );
$yellow-sparks-left-name: 'yellow-sparks-left';
$yellow-sparks-left-x: 397px;
$yellow-sparks-left-y: 283px;
$yellow-sparks-left-offset-x: -397px;
$yellow-sparks-left-offset-y: -283px;
$yellow-sparks-left-width: 44px;
$yellow-sparks-left-height: 69px;
$yellow-sparks-left-total-width: 814px;
$yellow-sparks-left-total-height: 640px;
$yellow-sparks-left-image: '../images/sprite.png';
$yellow-sparks-left: (397px, 283px, -397px, -283px, 44px, 69px, 814px, 640px, '../images/sprite.png', 'yellow-sparks-left', );
$yellow-sparks-right-name: 'yellow-sparks-right';
$yellow-sparks-right-x: 135px;
$yellow-sparks-right-y: 430px;
$yellow-sparks-right-offset-x: -135px;
$yellow-sparks-right-offset-y: -430px;
$yellow-sparks-right-width: 37px;
$yellow-sparks-right-height: 79px;
$yellow-sparks-right-total-width: 814px;
$yellow-sparks-right-total-height: 640px;
$yellow-sparks-right-image: '../images/sprite.png';
$yellow-sparks-right: (135px, 430px, -135px, -430px, 37px, 79px, 814px, 640px, '../images/sprite.png', 'yellow-sparks-right', );
$ywllow-house-name: 'ywllow-house';
$ywllow-house-x: 649px;
$ywllow-house-y: 229px;
$ywllow-house-offset-x: -649px;
$ywllow-house-offset-y: -229px;
$ywllow-house-width: 51px;
$ywllow-house-height: 51px;
$ywllow-house-total-width: 814px;
$ywllow-house-total-height: 640px;
$ywllow-house-image: '../images/sprite.png';
$ywllow-house: (649px, 229px, -649px, -229px, 51px, 51px, 814px, 640px, '../images/sprite.png', 'ywllow-house', );
$spritesheet-width: 814px;
$spritesheet-height: 640px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($cook, $family, $icon-glove, $icon-hat, $logotype, $natural, $sticker-1, $sticker-2, $upload-frame, $yellow-house, $yellow-sparks-left, $yellow-sparks-right, $ywllow-house, );
$spritesheet: (814px, 640px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
