@@if (activeTab !== "teachers"){
<div class="container container--home-made">
}
@@if (activeTab === "teachers"){
<div class="container container--teachers">
}

	<div class="container__content">

		<header class="container__section section header" id="header">
			
			<div class="section__wrap header__wrap">

				<div class="header__logo-placeholder">
					
					<a href="oleyna.html" class="header__logo">Свое. Родное. Натуральное.</a>

				</div><!-- /.header__logo -->

				<div class="header__title-frame header__title-frame--small">

					<h1 class="header__title">
						Конкурс
					</h1><!-- /.header__title -->

				</div><!-- /.header__title-frame -->
			
			</div> <!-- /.header -->

		</header> <!-- /.header -->

		@@if (activeTab !== "teachers"){

		@@include("../common/tabs.html", {
			"activeTab": "@@activeTab"
		})

		}

		
		<section class="container__section section @@if (activeTab !== "teachers"){ section--tabbed } competition" id="competition">

			<div class="section__image section__image--caviar"></div><!-- /.section__salad -->
			
			<div class="section__wrap competition__wrap">
	
				<div class="section__text competition__text text">

					@@if (activeTab === "new"){ 

					<h3>
						Как делать домашние заготовки?
					</h3>
					
					<p>						
						С наступлением осени каждая современная хозяйка старается заготовить как можно больше продуктов на зиму. Когда на прилавках магазинов можно найти абсолютно всё, тема домашнего консервирования становится только более актуальной. Домашнее вкуснее: только приготовив дома, мы можем быть уверены в натуральности ингредиентов и пользе блюда для семьи.
					</p>

					<p>
						Если Вы ещё не пробовали делать домашние заготовки, прочитайте нашу статью-руководство для начинающих хозяек. Или сразу приступайте к делу! Сделайте заготовку по одному из классических рецептов и присылайте её на конкурс!
					</p>

					<p>
						<a href="oleyna-article-how-to.html" class="link link--blue">Читать статью</a>
					</p>

					}

					@@if (activeTab === "advanced"){ 

					<h3>
						Идеальная заготовка: 20 хитростей для опытной хозяйки
					</h3>
					
					<p>						
						Даже если Вы уже не новичок в науке домашнего консервирования, никогда не поздно узнать что-то новое и до блеска отточить мастерство. Вот основные кулинарные хитрости, которыми пользуются самые искусные повара при создании шедевров консервирования. Может, Вам тоже есть чем поделиться?
					</p>

					<p>
						<a href="oleyna-article-lifehacks.html" class="link link--blue">Читать статью</a>
					</p>

					}

					@@if (activeTab === "teachers"){ 

					<h3>
						Чем разнообразить урок технологии на тему консервирования?
					</h3>
					
					<p>						
						Привить девочкам любовь к кулинарии и научить их готовить полезную и здоровую пищу — одна из основных задач учителя технологии. Когда люди впервые попробовали сохранить свежие продукты? Что считается отдалённым предком консервированных продуктов? Как правильно выбирать продукты для заготовок? Какие секреты консервирования должна знать будущая хозяйка? Читайте об этом в нашей статье или сразу приступайте к делу! Выбирайте рецепт для приготовления на уроке, а результат совместного классного творчества присылайте нам на конкурс!
					</p>

					<p>
						<a href="oleyna-article-secrets.html" class="link link--blue">Читать статью</a>
					</p>

					}

				</div><!-- /.section__text -->

				<div class="competition__recipes recipes">

					<ul class="recipes__list">

						@@if (activeTab === "new"){ 
						
						<li class="recipes__item recipes-item recipes-item--1">
							
							<h3 class="recipes-item__title">
								Салат<br>
								из огурцов
							</h3><!-- /.recipes-item__title -->

							<div class="recipes-item__ing">
								Ингредиенты: 
							</div><!-- /.recipes-item__ing -->

							<ul class="recipes-item__list">
								
								<li class="recipes-item__item">
									Огурцы — 2 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									«Олейна» — 100 г
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									Уксус — 100 мл
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									…
								</li> <!-- /.recipes-item__item -->
							
							</ul> <!-- /.recipes-item__list -->

							<div class="recipes-item__button-placeholder">
								
								<a href="oleyna-recipe-cucumbers.html" class="recipes-item__button button button--transparent-white">посмотреть рецепт</a>

							</div><!-- /.recipes-item__button-placeholder -->
							
						</li> <!-- /.recipes__item -->
						
						<li class="recipes__item recipes-item recipes-item--2">
							
							<h3 class="recipes-item__title">
								Пикантные<br>
								кабачки
							</h3><!-- /.recipes-item__title -->

							<div class="recipes-item__ing">
								Ингредиенты: 
							</div><!-- /.recipes-item__ing -->

							<ul class="recipes-item__list">
								
								<li class="recipes-item__item">
									Кабачки — 2 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									«Олейна» — 1 стакан
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									Лук — 3-4 шт
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									…
								</li> <!-- /.recipes-item__item -->
							
							</ul> <!-- /.recipes-item__list -->

							<div class="recipes-item__button-placeholder">
								
								<a href="oleyna-recipe-spicy-zucchini.html" class="recipes-item__button button button--transparent-white">посмотреть рецепт</a>

							</div><!-- /.recipes-item__button-placeholder -->
							
						</li> <!-- /.recipes__item -->
						
						<li class="recipes__item recipes-item recipes-item--3">
							
							<h3 class="recipes-item__title">
								Маринованные шампиньоны
							</h3><!-- /.recipes-item__title -->

							<div class="recipes-item__ing">
								Ингредиенты: 
							</div><!-- /.recipes-item__ing -->

							<ul class="recipes-item__list">
								
								<li class="recipes-item__item">
									Шампиньоны  — 0,5 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									«Олейна» — 2 ст. л.
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									Винный уксус — 2 ст. л.
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									…
								</li> <!-- /.recipes-item__item -->
							
							</ul> <!-- /.recipes-item__list -->

							<div class="recipes-item__button-placeholder">
								
								<a href="oleyna-recipe-champignons.html" class="recipes-item__button button button--transparent-white">посмотреть рецепт</a>

							</div><!-- /.recipes-item__button-placeholder -->
							
						</li> <!-- /.recipes__item -->

						}

						@@if (activeTab === "advanced"){ 
						
						<li class="recipes__item recipes-item recipes-item--1">
							
							<h3 class="recipes-item__title">
								Фаршированные кабачки
							</h3><!-- /.recipes-item__title -->

							<div class="recipes-item__ing">
								Ингредиенты: 
							</div><!-- /.recipes-item__ing -->

							<ul class="recipes-item__list">
								
								<li class="recipes-item__item">
									Кабачки — 1 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									«Олейна» — 150 г
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									Помидоры— 600 г
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									…
								</li> <!-- /.recipes-item__item -->
							
							</ul> <!-- /.recipes-item__list -->

							<div class="recipes-item__button-placeholder">
								
								<a href="oleyna-recipe-zucchini.html" class="recipes-item__button button button--transparent-white">посмотреть рецепт</a>

							</div><!-- /.recipes-item__button-placeholder -->
							
						</li> <!-- /.recipes__item -->
						
						<li class="recipes__item recipes-item recipes-item--2">
							
							<h3 class="recipes-item__title">
								Морковь <br> 
								с&nbsp;овощами
							</h3><!-- /.recipes-item__title -->

							<div class="recipes-item__ing">
								Ингредиенты: 
							</div><!-- /.recipes-item__ing -->

							<ul class="recipes-item__list">
								
								<li class="recipes-item__item">
									Морковь — 5 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									«Олейна» — 500 г
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									Капуста — 3 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									…
								</li> <!-- /.recipes-item__item -->
							
							</ul> <!-- /.recipes-item__list -->

							<div class="recipes-item__button-placeholder">
								
								<a href="oleyna-recipe-carrot.html" class="recipes-item__button button button--transparent-white">посмотреть рецепт</a>

							</div><!-- /.recipes-item__button-placeholder -->
							
						</li> <!-- /.recipes__item -->
						
						<li class="recipes__item recipes-item recipes-item--3">
							
							<h3 class="recipes-item__title">
								Салат из&nbsp;лука с&nbsp;рисом
							</h3><!-- /.recipes-item__title -->

							<div class="recipes-item__ing">
								Ингредиенты: 
							</div><!-- /.recipes-item__ing -->

							<ul class="recipes-item__list">
								
								<li class="recipes-item__item">
									Репчатый лук — 2 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									«Олейна» — 1 л
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									Морковь — 2 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									…
								</li> <!-- /.recipes-item__item -->
							
							</ul> <!-- /.recipes-item__list -->

							<div class="recipes-item__button-placeholder">
								
								<a href="oleyna-recipe-onion.html" class="recipes-item__button button button--transparent-white">посмотреть рецепт</a>

							</div><!-- /.recipes-item__button-placeholder -->
							
						</li> <!-- /.recipes__item -->

						}

						@@if (activeTab === "teachers"){ 
						
						<li class="recipes__item recipes-item recipes-item--1">
							
							<h3 class="recipes-item__title">
								Остренькие
								огурчики
							</h3><!-- /.recipes-item__title -->

							<div class="recipes-item__ing">
								Ингредиенты: 
							</div><!-- /.recipes-item__ing -->

							<ul class="recipes-item__list">
								
								<li class="recipes-item__item">
									Огурцы — 4 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									«Олейна» — 1 стакан
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									Сахар — 1 стакан
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									…
								</li> <!-- /.recipes-item__item -->
							
							</ul> <!-- /.recipes-item__list -->

							<div class="recipes-item__button-placeholder">
								
								<a href="oleyna-recipe-chilly-cucumbers.html" class="recipes-item__button button button--transparent-white">посмотреть рецепт</a>

							</div><!-- /.recipes-item__button-placeholder -->
							
						</li> <!-- /.recipes__item -->
						
						<li class="recipes__item recipes-item recipes-item--2">
							
							<h3 class="recipes-item__title">
								Консервированный
								салат с рисом
							</h3><!-- /.recipes-item__title -->

							<div class="recipes-item__ing">
								Ингредиенты: 
							</div><!-- /.recipes-item__ing -->

							<ul class="recipes-item__list">
								
								<li class="recipes-item__item">
									Помидоры — 2,5 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									«Олейна» — 350 мл
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									Лук — 0,5 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									…
								</li> <!-- /.recipes-item__item -->
							
							</ul> <!-- /.recipes-item__list -->

							<div class="recipes-item__button-placeholder">
								
								<a href="oleyna-recipe-rice-salad.html" class="recipes-item__button button button--transparent-white">посмотреть рецепт</a>

							</div><!-- /.recipes-item__button-placeholder -->
							
						</li> <!-- /.recipes__item -->
						
						<li class="recipes__item recipes-item recipes-item--3">
							
							<h3 class="recipes-item__title">
								Аджика
								из&nbsp;кабачков
							</h3><!-- /.recipes-item__title -->

							<div class="recipes-item__ing">
								Ингредиенты: 
							</div><!-- /.recipes-item__ing -->

							<ul class="recipes-item__list">
								
								<li class="recipes-item__item">
									Кабачки  — 3 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									«Олейна» — 200 г
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									Морковь — 0,5 кг
								</li> <!-- /.recipes-item__item -->
								
								<li class="recipes-item__item">
									…
								</li> <!-- /.recipes-item__item -->
							
							</ul> <!-- /.recipes-item__list -->

							<div class="recipes-item__button-placeholder">
								
								<a href="oleyna-recipe-adjika.html" class="recipes-item__button button button--transparent-white">посмотреть рецепт</a>

							</div><!-- /.recipes-item__button-placeholder -->
							
						</li> <!-- /.recipes__item -->

						}
					
					</ul> <!-- /.recipes__list -->
					
				</div><!-- /.competition__recipes -->
	
				<div class="section__text competition__text text">
		
					<h3>
						Конкурс
					</h3>
					
					@@if (activeTab === "new"){

					<p>	
						Поздравляем! Теперь, когда Вы создали Ваш первый шедевр консервирования, поделитесь с нами результатом и выиграйте призы! Присылайте фотографию блюда, приготовленного по одному из наших рецептов, и не забудьте, что на фото должно быть отражено выполнение двух обязательных условий конкурса: использование масла «<strong><a href="@@oleynaLink" target="_blank">Олейна</a></strong>» при консервировании и участие других членов Вашей семьи в создании заготовки.
					</p>

					}

					@@if (activeTab === "advanced"){

					<p>	
						Поздравляем! Теперь, когда Вы создали Ваш первый шедевр консервирования, поделитесь с нами результатом и выиграйте призы! Присылайте фотографию блюда, приготовленного по одному из наших рецептов, и не забудьте, что на фото должно быть отражено выполнение двух обязательных условий конкурса: использование масла «<strong><a href="@@oleynaLink" target="_blank">Олейна</a></strong>» при консервировании и участие других членов Вашей семьи в создании заготовки.
					</p>

					}
		
					@@if (activeTab === "teachers"){

					<p>
						Готовы поделиться результатом классного творчества? 
					</p>

					<p>
						Чтобы принять участие в конкурсе «Классные заготовки», Вам необходимо:
					</p>
					
					<ol>
						<li>
							Сделать фотографии урока технологии и Ваших заготовок.
						</li>
						<li>
							<a href="assets/download/paper.jpg" class="link link--blue" download>Скачать шаблон стенгазеты</a>.
						</li>
						<li>
							Добавить в шаблон фотографии и текст.
						</li>
						<li>
							Отправить стенгазету нам на конкурс! 
						</li>							
					</ol>

	
					<p>
						Ждём Ваших шедевров!
					</p>
					
					}

				</div><!-- /.section__text -->	

				@@include("../common/upload.html", {
					"activeTab": "@@activeTab"
				})

				<div class="competition__works">
					
					@@if (activeTab === "new"){
					<a href="oleyna-competition-results.html" class="about-competition__rules button button--yellow button--m">Посмотреть работы участников &rarr;</a>
					}
					
					@@if (activeTab === "advanced"){
					<a href="oleyna-competition-results-advanced.html" class="about-competition__rules button button--yellow button--m">Посмотреть работы участников &rarr;</a>
					}
					
					@@if (activeTab === "teachers"){
					<a href="oleyna-competition-results-teachers.html" class="about-competition__rules button button--yellow button--m">Посмотреть работы  участников &rarr;</a>
					}

				</div><!-- /.about-competition__rules-placeholder -->
			
			</div> <!-- /.competition__wrap -->
		
		</section> <!-- /.competition -->

	</div><!-- /.container__content -->

</div> <!-- end .container -->
